{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-20">
    <h2 class='text-center' style="color:#F89202"><strong>{{ category.name }}</strong></h2>
<div class="row">
    <hr>
    {% for service in services_of_category %}
    <div class="col-lg-4 col-md-5 mb-4">
        <img src="{{ service.image.url }}" style="width: 60%; height: 200px">

        <a href="{{ service.get_absolute_url }}" ><h4 class="text-left" style="color:#06035C">{{ service.title }}
        </h4></a>
        <p class="text-left" style="font-size: 30px; color:olive">Цена: <a style="color: red"><strong>{{ service.price }} руб.</strong></a></p>
        <p style='font-size: 25px; color:darkgoldenrod'>Поставщик: <a style="color: lightslategray"><strong>{{ service.brand }}.</strong></a></p>
        {% if request.user.is_authenticated %}
        <a href='#' class="add_to_cart" data-slug="{{ service.slug }}"><button class='btn btn-danger'>Добавить в корзину</button></a>
        {% else %}
            <p class="text-left" style="color:#708090"> Заказывать услуги могут только авторизированные пользователи. <br>Пожалуйста,
                <a href="{% url 'login' %}" style="color: #047E99"><strong>войдите</strong></a> или <br><a href="{% url 'registration' %}"
                                                                                      style="color: #047E99"><strong>зарегестрируйтесь.</strong></a></p>
        {% endif %}
    </div>
    {% endfor %}
</div>
</div>
    <div ><br></div>

    <script src="{% static 'admin/js/vendor/jquery/jquery.js'%}"></script>
    <script>
        $(document).ready(function () {
            $('.add_to_cart').on('click', function(e) {
                e.preventDefault();
                service_slug = $(this).attr('data-slug');
                data = {
                   service_slug: service_slug
                };

                $.ajax({
                    type:"GET",
                    url:'{% url "add_to_cart" %}',
                    data: data,
                    success: function (data) {
                           $("#cart_count").html(data.cart_total)
                    }
                })
            })
        })
     </script>

{% endblock content %}